
/*-------Stylization of Background-------*/
body{
    background-color: rgb(18, 18, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Index-Background-Image.png);
    background-size: cover;
}

#container{
    display: grid;
    grid-template-columns: repeat(25, 100px);
    grid-template-rows: repeat(15, 100px);
}

/*-------Stylization of Box class-------*/
.box{
    padding: 20px;
    background-color: rgb(85, 85, 162);
    border: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgb(85, 85, 162);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*-------Stylization of Upload Your Image Button-------*/
#UploadYourImageButton{
    grid-column: 2/8;
    grid-row: 3/8;    
    font-size: 5em;  
}

#UploadYourImageButton:hover{
    background-color: rgb(144, 144, 214);
}

/*-------Stylization of Image to pixel art text-------*/
#ImageToPixelArtText{
    grid-column: 9/18;
    grid-row: 5/6;
    font-size: 2em;  
}

/*-------Stylization of Results Button-------*/
#ResultsButton{
    grid-column: 19/25;
    grid-row: 3/8;
    font-size: 5em;
}

#ResultsButton:hover{
    background-color: rgb(144, 144, 214);
}

/*-------Stylization of Convert Button-------*/
#ConvertButton{
    grid-column: 12/15;
    grid-row: 11/11;
    font-size: 2em;
}

#ConvertButton:hover{
    background-color: rgb(49, 188, 49);
}
